.loginCard {
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.loginCard input {
  border: none;
  width: 100%;
  text-align: center;
  height: 2em;
  outline: none;
}

#linkPage {
  width: 40%;
  padding: 3%;
  margin: 5% 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#product_pic {
  /* opacity: 0; */
  /* visibility: hidden; */
  content-visibility: hidden;
  /* display: none; */
  width: 1px;
}

#edit_pic {
  opacity: 0;
  visibility: hidden;
  display: none;
}
